*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
}

/* Header Style Starts*/
header {
    background-color: #B6E5D8;
    padding: 30px 0;
}

header h1 {
    font-weight: bolder;
    font-size: 50px;
    color: #2E765E;
    margin: 35px;
    display: inline;
}

header nav {
    float: right;
    margin: 20px;
}

header nav ul li {
    display: inline;
    margin: 5px 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #E2808A;
    font-weight: lighter;
    font-size: 25px;
}
/* Header Style Ends */

/* About Me Style Starts */
.section-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-title h2 {
    width: 40%;
    font-size: 40px;
    text-align: center;
    color: #2E765E;
    border-bottom: 5px solid #E2808A;
}

.about {
    background-color: #FBE5C8;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.about img {
    border-radius: 80px;
    height: 400px;
    padding: 50px;
    display: inline-flex;
    float: left;
}

.about img:hover {
    height: 450px;
}

.bio {
    margin: 0 auto;
    padding: 50px;
    text-align: left;
    justify-content: space-evenly;
}  

.about p {
    font-size: 25px;
    color: #2E765E;
    line-height: 1.3;
}
/* About Me Style Ends */

/* My Work Style Begins */
.projects {
    margin: 0 auto;
    text-align: center;
}

.projects img {
    border-radius: 50px;
    display: inline-flex;
}

.project-big img {
    width: 600px;
    height: auto;
}

.project-small {
    display: inline;
    padding: 5px;
}

.project-big img:hover {
    border: 1.5px solid #E2808A;
    flex-grow: 1;
}

.project-small img {
    width: 500px;
    height: 500px;
}

.project-small img:hover {
    border: 1.5px solid #E2808A;
    flex-grow: 1;
}
/* My Work Style Ends */

/* Contact Me Style Starts */
.contact-info {
    background-color: #FBE5C8;
    padding: 25px;
    font-size: 20px;
}

.contact-info h4{
    padding: 25px;
    text-align: center;
    display: block;
    font-size: 25px;
    color: #2E765E;
    line-height: 1.3;
}

.contact-info p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.3;
}

address {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
}

.linkedin img, .email img {
    border-radius: 40px;
    height: 100px;
    width: 100px;
}

.linkedin img:hover, .email img:hover {
    height: 125px;
    width: 125px;
}

.linkedin p, .email p {
    margin: 25px;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #2E765E;
    line-height: 1.3;
}
/* Contact Me Style Ends */

/* Footer Style Starts*/
footer {
    margin-top: 10%;
}

footer nav {
   margin: 0 auto;
   padding: 25px 0;
   display: flex;
   justify-content: center;
   background-color: #B6E5D8;
}

footer nav ul li {
    display: inline;
    margin: 25px;
}

footer nav ul li a {
    text-decoration: none;
    color: #E2808A;
    font-weight: lighter;
    font-size: 25px;
}
/* Footer Style Ends */

/* Media Query for Mobile Phones and Smaller */
@media screen and (max-width: 980px) {
    header {
        padding: 20px 0;
    }
    
    header h1 {
        font-weight: bolder;
        font-size: 50px;
        color: #2E765E;
        margin: 15px;
        display: flex;
        justify-content: flex-start;
    }
    
    header nav {
        float: none;
        margin: 10px;
        display: flex;
        justify-content: flex-end;
    }

    .project-big img {
        border-radius: 50px;
        display: inline-flex;
        width: 600px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    header {
        float: none;
        text-align: center;
    }

    header h1 {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav {
        float: none;
        margin: 10px;
        display: flex;
        justify-content: center;
    }

    header nav ul li {
        display: inline;
        margin: 5px 20px;
    }

    .about img {
        border-radius: 80px;
        height: 400px;
        padding: 20px;
        display: inline;
        float: left;
    }

    .bio {
        margin: 0 auto;
        padding: 20px;
    }

    .project-big img {
        border-radius: 50px;
        display: inline-flex;
        width: 700px;
        height: 600px;
    }

    .linkedin img:hover, .email img:hover {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 575px) {
    header h1 {
        font-size: 40px;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .about img:hover {
        height: 425px;
    }

    .about p {
        font-size: 18px;
        line-height: 1.3;
    }

    .projects img {
        border-radius: 50px;
        display: inline-flex;
        width: 550px;
        height: 350px;
    }

    .contact-info {
        padding: 15px;
    }
    
    .contact-info h4{
        padding: 15px;
        font-size: 20px;
    }
    
    .contact-info p {
        font-size: 15px;
    }
    
    address {
        margin: 10px;
        justify-content: center;
    }
    
    .linkedin img, .email img {
        height: 40px;
        width: 40px;
    }
    
    .linkedin img:hover, .email img:hover {
        height: 50px;
        width: 50px;
    }
    
    .linkedin p, .email p {
        margin: 20px;
        font-size: 18px;
    }

    footer nav {
        padding: 15px 0;
        justify-content: center;
     }

    footer nav ul li {
        margin: 10px;
    }
    
    footer nav ul li a {
        font-size: 18px;
    }
}
/* End of Media Queries */